{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" type= "text/css" href= "static/css/home.css">
{% endblock %}

{% block content %}
<div class="main">
    <a href="/#">
    <div class='card'>
        <img src="/static/images/marketing1.jpg" width="300" height="300" alt="">
        <span>Спешите! Второго такого шанса не будет</span>
    </div>
    </a>
    <a href="/#">
    <div class='card' style="margin-left: 30px;">
        <img src="/static/images/marketing2.jpg" width="300" height="300" alt="">
        <span>Распродажа!</span>
    </div>
    </a>
</div>
{% endblock %}