<link rel="stylesheet" type="text/css" href="static/css/register.css">
<form action='/register' method='post'>
    <ul class="form">
        <li>
            <input type="text" name="name" placeholder="Имя">
        </li>
        <li>
            <input type="text" name="fname" placeholder="Фамилия">
        </li>
        <li>
            <input type="text" name="phone_number" placeholder="Номер Телефона">
        </li>
        <li>
            <input type="text" name="email" placeholder="email">
        </li>
        <li>
            <button type="submit">Зарегестрироваться</button>
        </li>
    </ul>
</form>