{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" type= "text/css" href= "static/css/products.css">
{% endblock %}

{% block content %}
<table class="styled-table">
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Цена</th>
  </tr>
  <tr>
    <td>Супер крутой товар</td>
    <td>Это супер крутой товар, скорее покупай</td>
    <td>50 руб</td>
  </tr>
  <tr>
    <td>Зубная счетка</td>
    <td>Счетка для чистки зубов</td>
    <td>94 руб</td>
  </tr>
</table>
{% endblock %}